    upstream fastapiservers {
        server fastapi_app:${SERVER_PORT};
    }
    
    server {
        listen ${NGINX_PORT};
        location / {
            add_header Access-Control-Allow-Origin *;
            proxy_set_header Host $host;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_pass http://fastapiservers;
            proxy_http_version 1.1;
        }
    }
